// {{classname}}.mo
{{#description}}
/// {{{description}}}
{{/description}}

import IC "mo:core/InternetComputer";
import { type HttpRequest; type HttpResponse; type HttpMethod; type HttpHeader } "mo:core/InternetComputer";
import Text "mo:core/Text";

module {
{{#operations}}
{{#operation}}
    {{#summary}}
    /// {{{summary}}}
    {{/summary}}
    {{#notes}}
    /// {{{notes}}}
    {{/notes}}
    public func {{operationId}}(baseUrl : Text{{#allParams}}, {{paramName}} : {{#isNullable}}?{{/isNullable}}{{dataType}}{{/allParams}}) : async {{#returnType}}{{returnType}}{{/returnType}}{{^returnType}}(){{/returnType}} {
        let url = baseUrl # "{{path}}"{{#pathParams}} # "/" # {{#isString}}{{paramName}}{{/isString}}{{^isString}}debug_show({{paramName}}){{/isString}}{{/pathParams}};

        let request : HttpRequest = {
            url = url;
            method = #{{#lambda.lowercase}}{{httpMethod}}{{/lambda.lowercase}};
            headers = [
                { name = "Content-Type"; value = "application/json" }{{#headerParams}},
                { name = "{{baseName}}"; value = {{#isString}}{{paramName}}{{/isString}}{{^isString}}debug_show({{paramName}}){{/isString}} }{{/headerParams}}
            ];
            body = {{#bodyParam}}?Text.encodeUtf8({{paramName}}){{/bodyParam}}{{^bodyParam}}null{{/bodyParam}};
            transform = null;
        };

        let response : HttpResponse = await IC.http_request(request);

        {{#returnType}}
        // TODO: Parse response.body and return {{returnType}}
        // For now, returning a placeholder
        {{#isArray}}[]{{/isArray}}{{#isString}}""{{/isString}}{{#isNumeric}}0{{/isNumeric}}{{#isBoolean}}false{{/isBoolean}}{{^isArray}}{{^isString}}{{^isNumeric}}{{^isBoolean}}throw Error.reject("Not implemented"){{/isBoolean}}{{/isNumeric}}{{/isString}}{{/isArray}}
        {{/returnType}}
    };

{{/operation}}
{{/operations}}
}
