{{#models}}
{{#imports}}
{{#isMap}}import { type Map } "mo:core/pure/Map";
{{/isMap}}{{^isMappedType}}
import { type {{import}} } "./{{import}}";
{{/isMappedType}}
{{/imports}}

{{#model}}
{{#isEnum}}
// {{classname}}.mo
{{#description}}
/// {{{description}}}
{{/description}}
/// Enum values: {{#allowableValues}}{{#enumVars}}#{{name}}{{^-last}}, {{/-last}}{{/enumVars}}{{/allowableValues}}

module {
    public type {{classname}} = {
{{#allowableValues}}
{{#enumVars}}
        {{#enumDescription}}
        /// {{{enumDescription}}}
        {{/enumDescription}}
        #{{name}};
{{/enumVars}}
{{/allowableValues}}
    };
}
{{/isEnum}}
{{^isEnum}}
// {{classname}}.mo
{{#description}}
/// {{{description}}}
{{/description}}

module {
    public type {{classname}} = {
{{#vars}}
        {{#description}}
        /// {{{description}}}
        {{/description}}
        {{name}} : {{^required}}?{{/required}}{{{dataType}}};
{{/vars}}
    };
}
{{/isEnum}}
{{/model}}
{{/models}}
