{{#models}}
{{#imports}}
{{^isMappedType}}
import { type {{import}} } "./{{import}}";
{{/isMappedType}}
{{/imports}}

{{#model}}
// {{classname}}.mo
{{#description}}
/// {{{description}}}
{{/description}}

module {
    public type {{classname}} = {
{{#vars}}
        {{#description}}
        /// {{{description}}}
        {{/description}}
        {{name}} : {{^required}}?{{/required}}{{dataType}};
{{/vars}}
    };
}
{{/model}}
{{/models}}
